{% extends "base.html" %}

{% block content %}
<h2 class="title">
  Image Gallery
</h2>

<img class="gallery" src="/images/banner-1.jpg" alt="Le Apóstasi Banner" width="640" height="640"> 
<img class="gallery" src="/images/mahabs-1.jpg" alt="Mahabs" width="1296" height="729"> 
<img class="gallery" src="/images/joseph-1.jpg" alt="Joseph" width="1600" height="1201"> 
<img class="gallery" src="/images/kathir-1.jpg" alt="Kathir" width="1200" height="1600"> 
<img class="gallery" src="/images/kathir-2.jpg" alt="Kathir" width="1600" height="900"> 

{% endblock content %}
