{% extends "base.html" %}

{% block content %}
<h2 class="title">
  Image Gallery
</h2>


<h3 class="title">Kanchanagiri - Bell Rock - 26 Jan 2022</h3>
<img class="gallery" src="/images/bellrock/bellrock-1.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-1.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-2.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-3.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-4.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-5.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-6.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-7.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-8.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-9.jpg" alt="Ride" width="1400" height="1866"> 
<img class="gallery" src="/images/bellrock/bellrock-10.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-11.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-12.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-13.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-14.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-15.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-16.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-17.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-18.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-19.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-20.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-21.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-22.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-23.jpg" alt="Ride" width="1156" height="868"> 
<img class="gallery" src="/images/bellrock/bellrock-24.jpg" alt="Ride" width="1156" height="868"> 

<img class="gallery" src="/images/bellrock/kathir-strava.jpg" alt="Ride" width="1080" height="810"> 
<img class="gallery" src="/images/bellrock/arcot-1.jpg" alt="Ride" width="1038" height="705"> 

<h3 class="title">Kanchipuram Ride - 15 Jan 2022</h3>
<img class="gallery" src="/images/kanchi-1.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kanchi-2.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kanchi-3.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kanchi-4.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kanchi-5.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kanchi-6.jpg" alt="Ride" width="1600" height="1200"> 

<h3 class="title">Kelambakkam Ride - 12 Jan 2022</h3>

<img class="gallery" src="/images/kelambakkam-1.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kelambakkam-2.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/kelambakkam-3.jpg" alt="Ride" width="1600" height="1200"> 
<img class="gallery" src="/images/urapakkam-1.jpg" alt="Ride" width="1600" height="1200"> 

<h3 class="title">Mahabs Ride - 8 Jan 2022</h3>
<img class="gallery" src="/images/banner-1.jpg" alt="Ride" width="640" height="640"> 
<img class="gallery" src="/images/mahabs-1.jpg" alt="Ride" width="1296" height="729"> 
<img class="gallery" src="/images/joseph-1.jpg" alt="Ride" width="1600" height="1201"> 
<img class="gallery" src="/images/kathir-1.jpg" alt="Ride" width="1200" height="1600"> 
<img class="gallery" src="/images/kathir-2.jpg" alt="Ride" width="1600" height="900"> 

{% endblock content %}
