{% extends "base.html" %}

{% block content %}

<div class="hero">
  <h2 class="title">
    Le Apóstasi 
  </h2>
</div>

<h3 class="title">
  WCCG Team Distance Challlenge 2022
</h3>

<h3 class="title status">
  Current Status: In Progress 
</h3>

<div class="leaderboard-container">
  <h3 class="title leaderboard">
    Le Apóstasi Leaderboard 
  </h3>

  <table class="leaderboard">
    <thead>
      <tr>
        <th>Name</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>Ramasubramaniam SA</div>
          <progress id="file" value="100" max="100">100% </progress>
        </td>
        <td class="number">2747</td>
      </tr>
      <tr>
        <td>
          <div>Joseph Larsen</div>
          <progress id="file" value="100" max="100">100% </progress>
        </td>
        <td class="number">1508</td>
      </tr>
      <tr>
        <td>
          <div>Saju Thankappan</div>
          <progress id="file" value="100" max="100">100% </progress>
        </td>
        <td class="number">1377</td>
      </tr>
      <tr>
        <td>
          <div>Poonkathirvelan Boopalan</div>
          <progress id="file" value="100" max="100">100% </progress>
        </td>
        <td class="number">1328</td>
      </tr>
      <tr>
        <td>
          <div>Kumar Babu</div>
          <progress id="file" value="51" max="100">51% </progress>
        </td>
        <td class="number">511</td>
      </tr>  
    </tbody>
    <tfoot>
      <td>
        <div>Overall Progress</div>
        <progress id="file" value="100" max="100">100% </progress>
      </td>
      <td class="number">7471</td>
    </tfoot>
  </table> 
</div>

{% endblock content %}
