{% extends "base.html" %}

{% block content %}

<div class="hero">
  <h2 class="title">
    Le Apóstasi 
  </h2>
</div>

<h3 class="title">
  WCCG Team Distance Challlenge 2022
</h3>

<h3 class="title status">
  Current Status: In Progress 
</h3>

<div class="leaderboard-container">
  <h3 class="title leaderboard">
    Le Apóstasi Leaderboard 
  </h3>

  <table class="leaderboard">
    <thead>
      <tr>
        <th>Name</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>Ramasubramaniam SA</div>
          <progress id="file" value="100" max="100">100% </progress>
        </td>
        <td class="number">1328</td>
        
      </tr>
      <tr>
        <td>
          <div>Joseph Larsen</div>
          <progress id="file" value="85" max="100">85% </progress>
        </td>
        <td class="number">859</td>
        
      </tr>
      <tr>
        <td>
          <div>Poonkathirvelan Boopalan</div>
          <progress id="file" value="59" max="100">59% </progress>
        </td>
        <td class="number">590</td>
        
      </tr>
      <tr>
        <td>
          <div>Saju Thankappan</div>
          <progress id="file" value="56" max="100">56% </progress>
        </td>
        <td class="number">569</td>
        
      </tr>
      <tr>
        <td>
          <div>Kumar Babu</div>
          <progress id="file" value="24" max="100">24% </progress>
        </td>
        <td class="number">241</td>
        
      </tr>  
    </tbody>
    <tfoot>
      <td>
        <div>Overall Progress</div>
        <progress id="file" value="70" max="100">70% </progress>
      </td>
      <td class="number">3587</td>
    </tfoot>
  </table> 
</div>

{% endblock content %}
